#METHOD 1: QUERY

In [1]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, 35, 40, 45],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']}
df = pd.DataFrame(data)

# Filter rows where Age is greater than 30
filtered_df = df.query('Age > 30')
print(filtered_df)

      Name  Age    City
2  Charlie   35   Paris
3    David   40   Tokyo
4      Eve   45  Sydney



---

#METHOD 2: Logical Indexing

In [2]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, 35, 40, 45],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']}
df = pd.DataFrame(data)

# Filter rows where Age is greater than 30 using logical indexing
filtered_df = df[df['Age'] > 30]
print(filtered_df)

      Name  Age    City
2  Charlie   35   Paris
3    David   40   Tokyo
4      Eve   45  Sydney



---

#METHOD 3: Lambda and APPLY

In [3]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, 35, 40, 45],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']}
df = pd.DataFrame(data)

# Filter rows where the length of the Name is greater than 4 using lambda
filtered_df = df[df['Name'].apply(lambda x: len(x) > 4)]
print(filtered_df)

      Name  Age      City
0    Alice   25  New York
2  Charlie   35     Paris
3    David   40     Tokyo



---

#METHOD 4: Set and Union then ISIN()

In [4]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice', 'Bob'],
        'Age': [25, 30, 35, 40, 45, 25, 30],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney', 'New York', 'London']}
df = pd.DataFrame(data)

# Convert the 'Name' column to a set
names_set = set(df['Name'])

# Define a set of names you want to filter
filter_names = {'Alice', 'Charlie', 'Eve'}

# Use set union to find the common elements
filtered_names = names_set.union(filter_names)

# Filter the DataFrame based on the filtered names
filtered_df = df[df['Name'].isin(filtered_names)]
print(filtered_df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris
3    David   40     Tokyo
4      Eve   45    Sydney
5    Alice   25  New York
6      Bob   30    London



---

#METHOD 5: STR

In [5]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, 35, 40, 45],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']}
df = pd.DataFrame(data)

# Filter rows where Name starts with 'A'
filtered_df = df[df['Name'].str.startswith('A')]
print(filtered_df)

    Name  Age      City
0  Alice   25  New York



---

#THE END

---